./lazygit/.config/lazygit/state.yml

lazygit/.config/lazygit/state.yml
zsh/.config/zsh/plugins
ranger/.config/ranger/colorschemes/__pycache__
zsh/.config/zsh/.zcompdump
ncspot/.config/ncspot
mpd/.config/mpd/log
mpd/.config/mpd/pid
mpd/.config/mpd/database
mpd/.config/mpd/sticker.sql
mpd/.config/mpd/playlists/samurai_champloo.m3u
mpd/.config/mpd/playlists